.Filter--Container {
    float: right
}

.Filter--Bar--Term, .Filter--Bar--Term > * {
    cursor: pointer;
}

.Filter--Bar--Term {
    padding-left: 10px
}

.Filter--Button {
    background: none;
    margin: auto;
    border: none;
    color: gray;
    font-size: large;
    cursor: pointer;
    padding-right: 20px;
}

.Filter--Bar {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: white;
    animation: fadeIn 1s;
    width: 200px;
    box-shadow: 0 20px 20px gray;
}

.Filter--Bar--Clear {
    border: solid 1px gray;
    border-radius: 20px;
    width: fit-content;
    margin-left: 30px;
    cursor: pointer
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


  @media screen and (max-width:500px) {
    .Filter--Container {
        float: left;
        padding: 10px
    }
  }